![NYC Skyline](image/nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [2]:
# Import necessary packages
import pandas as pd
import numpy as np

price = pd.read_csv('data/airbnb_price.csv')
price.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

### Loading the data

In [3]:
room = pd.read_excel('data/airbnb_room_type.xlsx')
room.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [4]:
review = pd.read_csv('data/airbnb_last_review.tsv', sep='\t')
review.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

### Merging the three DataFrames

In [5]:
# first merge price and review dataframes
price_and_review = pd.merge(price, room, on = 'listing_id')

In [6]:
# Then merge the price_and_review with the last dataframe which review
merged = pd.merge(price_and_review, review, on='listing_id')

In [7]:
# looking at the 3 merged data frames
merged.head()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,May 21 2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,July 05 2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,June 22 2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,June 24 2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,June 09 2019

In [8]:
# converting the last_review to datetime 
merged["last_review"] = pd.to_datetime(merged["last_review"])

In [9]:
print(merged.head())

   listing_id        price                nbhood_full  \
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

                                 description        room_type    host_name  \
0                      Skylit Midtown Castle  Entire home/apt     Jennifer
1            Cozy Entire Floor of Brownstone  Entire home/apt  LisaRoxanne
2  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt        Chris
3            Large Furnished Room Near B'way     private room     Shunichi
4         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt          Ben

  last_review
0  2019-05-21
1  2019-07-05
2  2019-06-22
3  2019-06-24
4  2019-06-09

### Determining the earliest and most recent review dates

In [10]:
# finding the earliest review
earliest_review = merged['last_review'].min()
print(f"The earliest review date is {earliest_review}")

The earliest review date is 2019-01-01 00:00:00

In [11]:
# finding the latest review
recent_review = merged['last_review'].max()
print(f"The latest review date is {recent_review}")

The latest review date is 2019-07-09 00:00:00

In [12]:
# Looking at the different types of room
print(merged['room_type'].unique())

['Entire home/apt' 'private room' 'Private room' 'entire home/apt'
 'PRIVATE ROOM' 'shared room' 'ENTIRE HOME/APT' 'Shared room'
 'SHARED ROOM']

In [13]:
# since room_type has variations in capitalization, I cleaned it by making the room types all consistently becoming lower case.
merged['room_type'] = merged['room_type'].str.lower()
print(merged['room_type'].unique())

['entire home/apt' 'private room' 'shared room']

In [14]:
# Everything is now cleaned.
rooms = merged['room_type'].unique()
print(rooms)

['entire home/apt' 'private room' 'shared room']


### Finding how many listings are private rooms

In [15]:
# finding the total number of private room type
nb_private_rooms = merged[merged['room_type'] == 'private room'].shape[0]
print(nb_private_rooms)

11356

### Finding the average price of listings

In [16]:
# cleaning the price column to find the average listing price
merged['price'] = merged['price'].str.replace(" dollars", "")
merged['price'] = merged['price'].astype("float")

In [17]:
#finding the average listing price
avg_price = merged['price'].mean()
avg_price = round(avg_price, 2)

print(f"The average listing price is {avg_price} ")

The average listing price is 141.78

### Creating a DataFrame with the four solution values

In [18]:
# creating a data frame that holds our valuable/helpful insights from the analysis
review_dates = pd.DataFrame({
    "first_reviewed": [earliest_review],
    "last_reviewed": [recent_review],
    "nb_private_rooms": [nb_private_rooms],
    "avg_price": [avg_price]
})

In [19]:
print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78